.links-section {
	display: grid;
	grid-template-columns: repeat(6, 100px); /* Två kolumner */
	gap: 10rem; /* Generöst mellanrum mellan boxarna */
	justify-content: center;
	margin-left: auto;          /* centrera hela grid:en i containern */
  	margin-right: auto;
	padding: 2rem;
	/* margin-top: 1rem; */
	background-color: rgb(245, 245, 220);/* Vit bakgrund för länkar */
  }
  
  .link-box {
	width: 100px;
	height: 100px;
	background-color: #ddd;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid #ccc;
	border-radius: 10px;
	transition: transform 0.3s, background-color 0.3s;
	overflow: hidden; /* så att bilden inte sticker ut */
	position: relative;
  }
  
  .link-photo {
	display: none;
	max-width: 100%;
	max-height: 100%;
	border-radius: 8px;
	position: absolute;
	top: 0;
	left: 0;
	object-fit: cover; /* fyller ut boxen snyggt */
	width: 100%;
	height: 100%;
	z-index: 1;
  }
  
  .link-box:hover .link-photo {
	display: block;
  }
  
  .link-box:hover span,
  .link-box:hover .link-text {
	display: none; /* dölj texten vid hover om du vill */
  }

  .link-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	width:200px;
  }
  
  .box-caption {
	margin-top: 0.5rem;
	color: black;
	text-align: center;
	font-size: 1rem;

  }