* {
  box-sizing: border-box;
}


	
	  body {
		background: linear-gradient(180deg, black 0%, rgb(30, 30,30) 25%, rgba(30, 30,30) 50%, rgb(48, 48,48) 75%, black 100%);
  width: 100vw;
  height: 100vh;
  display:flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  font-family: "Courier New", Courier, monospace;

}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(10, 10, 10);
  border-radius:10px;
}

li {
  float: left;
}

li a {
  display: block;
  /* color: rgba(240, 230, 140, 0.548); */
  color: #FFFAFA;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-radius: 10px;
  transition: background-color 0.3s, box-shadow 0.3s;
  font-family: "Courier New", Courier, monospace;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Tunn skugga */
}

li a:hover {
  background-color: #27272799;
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.5); /* Förstärkt skugga vid hover */
}
header {
  background-color: black;
  color: #FFFAFA;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 10px;
	box-shadow: 2px 2px 5px rgba(106, 91, 91, 0.3); /* Tunn skugga */
}
main {
  background-color: black;
  color: #FFFAFA;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(106, 91, 91, 0.3); /* Tunn skugga */
}
aside {
	background-color: black;
	color: #FFFAFA;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	box-shadow: 2px 2px 5px rgba(106, 91, 91, 0.3); /* Tunn skugga */
  }

  article {
	background-color: black;
	color: #FFFAFA;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	box-shadow: 2px 2px 5px rgba(106, 91, 91, 0.3); /* Tunn skugga */
  }




footer {
  background-color: black;
  color: #FFFAFA;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(106, 91, 91, 0.3);
}
.footer-links {
	list-style: none;
	display: flex;
	gap: 1rem;
	padding: 0;
	margin: 0;
  }
  
  .footer-links li {
	display: inline;
  }
  
  .footer-links a {
	color: #FFFAFA;
	text-decoration: none;
	font-family: "Courier New", Courier, monospace;
	display: flex;
	align-items: center;
	gap: 0.5rem;
	transition: color 0.3s;
  }
  
  .footer-links a:hover {
	color: #fffafa66;
  }
  
  .footer-links i {
	font-size: 1.2rem;
  }

.wrapper {
  max-width: 900px;
  height: auto;
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: repeat(6, minmax(100px, 1fr));
  gap: 1rem;
  grid-template-areas:
    "header header header header header header"
    "aside aside main main main main"
    "aside aside article article article article"
    "footer footer footer footer footer footer";
}

.wrapper header {
  grid-area: header;
}

.wrapper main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 1rem;
}
.content {
	display: flex;
	flex-direction: column;
	align-items: flex-start; /* Justera bild och text till toppen */
	gap: 1rem; /* Mellanrum mellan bild och text */
  }
  
  .content h2 {
	margin: 0;
	color: #FFFAFA; /* Anpassa färgen */
	font-family: "Courier New", Courier, monospace;
	font-size: 1.5rem;
  }



  .content img {
	width: 150px; /* Anpassa bildens storlek */
	height: auto;
	border-radius: 10px;
	box-shadow: 2px 2px 5px rgba(244, 243, 243, 0.807); /* Tunn skugga */
  }
  
  .content p {
	margin: 0;
	color: #FFFAFA;
	font-family: "Courier New", Courier, monospace;
  }
  
  .wrapper main p {
	margin-top: 1rem; /* Mellanrum mellan textblock */
	color: #FFFAFA;
	font-family: "Courier New", Courier, monospace;
  }

.wrapper aside {
  grid-area: aside;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 1rem;
}
.wrapper aside ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.wrapper article {
  grid-area: article;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem;
}

.wrapper footer {
  grid-area: footer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}






@media (max-width: 600px) {
	.wrapper {
	  grid-template-columns: 1fr;
	  grid-template-rows: auto auto auto auto auto;
	  grid-template-areas:
		"header"
		"aside"
		"main"
		"article"
		"footer";
  }}